{{ define "content" }}
<section class="pt-32 text-white">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css"
  />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/mermaid@10.9.0/dist/mermaid.min.js"></script>
  <style>
    #blogPostContent h1 {
      font-weight: bold;
      font-size: x-large;
    }
    #blogPostContent h2 {
      font-weight: bold;
      font-size: larger;
    }
    #blogPostContent h3 {
      font-weight: bold;
      font-size: large;
    }

    #blogPostContent pre {
      background-color: darkgray;
      border-radius: 5px;
      padding: 4px;
    }
  </style>
  <div class="m-auto px-4 text-gray-600 sm:px-12 xl:max-w-6xl xl:px-0">
    <h1 class="text-2xl font-bold mt-2">{{ .Title }}</h1>
    <div class="flex items-center text-xs font-medium">
      Edited by {{ range .Editors }}
      <span class="flex items-center p-1 rounded mx-1">
        <img class="w-5 rounded-full mr-1" src="{{ .AvatarUrl }}" alt="" />
        <span>{{ .Name }}</span>
      </span>
      {{ end }}
      <span class="flex items-center p-1 font-serif"
        >{{ .PublishedAtHumanReadable }} ({{ .ReadingTime }} minutes read)
      </span>
    </div>
    <div class="flex items-center">
      {{ range .Keywords }}
      <div
        class="inline-flex items-center rounded-md border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent bg-secondary text-secondary-foreground hover:bg-secondary/80"
      >
        #{{.}}
      </div>
      {{ end }}
    </div>
    <hr class="mb-10" />
    <div id="blogPostContent" class="whitespace-pre-line">{{ .Body }}</div>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
  const el = document.getElementById("blogPostContent");
  el.innerHTML = marked.parse(el.innerHTML);
  hljs.highlightAll();
  document.readyState;
  const test = document.querySelector("code.language-mermaid");
  test.innerHTML = test.innerHTML.toString().replaceAll("&amp;gt;", ">");
  mermaid.initialize({ startOnLoad: false });
  mermaid.run({
    querySelector: "code.language-mermaid",
  });
</script>
{{ end }}
