{{ define "content" }}
<section class="pt-32 text-white">
  <div
    class="m-auto space-y-8 px-4 text-gray-600 xl:px-0
  >
    <a href="/admin/qna">Back to list</a>
    <h1 class="text-2xl>Create QNA</h1>

    <form
      id="myForm"
      hx-post="/api/admin/qna"
      hx-target="#result"
      hx-trigger="submit"
    >
      <label for="name">Name</label>
      <input type="text" name="name" id="name" />
      <button>Create</button>
    </form>
    <!-- Display area for the result -->
    <div id="result" hx-swap="outerHTML"></div>
    <!-- JavaScript to handle the response and navigate -->
    <script>
      document
        .getElementById("myForm")
        .addEventListener("htmx:afterRequest", function (event) {
          var id = event.detail.xhr.response;
          // Navigate to the URL with the returned ID
          window.location.href = "/admin/qna/" + id;
        });
    </script>
  </div>
</section>
{{ end }}
