{{ define "content" }}
<section>
  <div
    class="m-auto space-y-8 px-4 text-gray-600 sm:px-12 xl:max-w-6xl xl:px-0"
  >
    <div class="flex">
      <h1 class="text-2xl flex-1">
        <a class="text-gray-400" href="/admin/qna">QNAs</a> / {{ .Name }}
      </h1>

      <a
        class="inline-flex border items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground shadow h-9 px-4 py-2"
        href="/qna/{{ .Id }}"
        >Answer QNA</a
      >
    </div>

    <ul>
      {{range .Questions}}
      <li class="border border-gray rounded mb-2 p-2">
        <h3 class="text-lg">{{.Value}}</h3>
        <div class="grid grid-cols-3 gap-4">
          {{range .Choices}}
          <div
            class="border {{if .IsCorrect}} border-green-500 {{else}} border-red-500 {{end}} rounded p-2"
          >
            {{ .Value }}
          </div>
          {{end}}
        </div>
      </li>
      {{end}}
    </ul>
  </div>
</section>
{{ end }}
