{{ define "content" }}
<section>
  <div
    class="m-auto space-y-8 px-4 text-gray-600 sm:px-12 xl:max-w-6xl xl:px-0"
  >
    <h1 class="text-2xl">Create Blog Post</h1>
    <form
      id="myForm"
      hx-post="/api/admin/blog"
      hx-target="#result"
      hx-trigger="submit"
    >
      <label
        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
        for="title"
        >Title</label
      >
      <input
        type="text"
        name="title"
        id="title"
        class="flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50"
        required
      />
      <p
        id=":r1d:-form-item-description"
        class="text-[0.8rem] text-muted-foreground"
      >
        This is the blog title
      </p>
      <br />
      <label
        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
        for="paragraphCount"
        >Paragraph count</label
      >
      <input
        type="number"
        min="1"
        max="10"
        value="3"
        name="paragraphCount"
        id="paragraphCount"
        class="flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50"
        required
      />
      <p
        id=":r1d:-form-item-description"
        class="text-[0.8rem] text-muted-foreground"
      >
        how many paragraphs to generate (min:1, max: 10)
      </p>
      <br />
      <div class="grid grid-cols-3 gap-3">
        <div>
          <div class="flex items-center">
            <input
              type="checkbox"
              min="1"
              max="10"
              value="active"
              name="useEmojis"
              id="useEmojis"
              class="flex h-6 w-6 rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 m-1"
              checked
            />
            <label
              class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
              for="useEmojis"
              >Use Emojis</label
            >
          </div>
          <p
            id=":r1d:-form-item-description"
            class="text-[0.8rem] text-muted-foreground"
          >
            will insert emojis where applicable
          </p>
        </div>
        <div>
          <div class="flex items-center">
            <input
              type="checkbox"
              min="1"
              max="10"
              value="active"
              name="useMarkdown"
              id="useMarkdown"
              class="flex h-6 w-6 rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 m-1"
            />
            <label
              class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
              for="useMarkdown"
              >Use Markdown</label
            >
          </div>
          <p
            id=":r1d:-form-item-description"
            class="text-[0.8rem] text-muted-foreground"
          >
            will use markdown for styling the article
          </p>
        </div>
        <div>
          <div class="flex items-center">
            <input
              type="checkbox"
              min="1"
              max="10"
              value="active"
              name="useMermaid"
              id="useMermaid"
              class="flex h-6 w-6 rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 m-1"
            />
            <label
              class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
              for="title"
              >Use Mermaid</label
            >
          </div>
          <p
            id=":r1d:-form-item-description"
            class="text-[0.8rem] text-muted-foreground"
          >
            will use mermaid to do illustrations when applicable
          </p>
        </div>
      </div>

      <div class="mt-10 flex justify-between">
        <a
          class="inline-flex border items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground shadow h-9 px-4 py-2"
          href="/admin/blog"
          >Back to list</a
        >
        <button
          id="submit_button"
          class="inline-flex bg-black text-white items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground shadow h-9 px-4 py-2"
          hx-indicator="#spinner"
        >
          Create blog post
        </button>
      </div>
    </form>
    <!-- Display area for the result -->
    <div id="result" hx-swap="outerHTML"></div>
    <!-- JavaScript to handle the response and navigate -->
    <script>
      const form = document.getElementById("myForm");
      form.addEventListener("htmx:afterRequest", function (event) {
        var id = event.detail.xhr.response;
        // Navigate to the URL with the returned ID
        window.location.href = "/blog/" + id;
      });
      form.addEventListener("htmx:beforeRequest", function (event) {
        let button = document.getElementById("submit_button");
        button.innerHTML = "Generating Blog Post...";
        button.setAttribute("disabled", "disabled");
      });
    </script>
  </div>
</section>
{{ end }}
