{{ define "content" }}
<section class="pt-32 text-white">
  <div
    class="m-auto space-y-8 px-4 text-gray-600 dark:text-gray-400 sm:px-12 xl:max-w-6xl xl:px-0"
  >
    <a href="/admin/qna">Back to list</a>
    <a href="/admin/qna/{{ .Id }}">Edit</a>
    <h1 class="dark:text-white font-bold text-2xl">Answer: {{ .Name }}</h1>
    <form
      id="myForm"
      hx-post="/qna/{{ .Id }}/answers"
      hx-trigger="submit"
      hx-target="#result"
    >
      <ul>
        {{range $questionIndex, $question := .Questions}}
        <li class="border border-gray rounded mb-2 p-2">
          <h3 class="dark:text-white font-bold text-lg">{{$question.Value}}</h3>
          <div class="grid grid-cols-3 gap-4">
            {{range $choiceIndex, $choice := .Choices}}
            <div class="border rounded p-2">
              <input
                type="radio"
                name="question-{{$questionIndex}}-choice"
                value="{{$choiceIndex}}"
                required
              />
              {{ $choice.Value }}
            </div>
            {{end}}
          </div>
        </li>
        {{end}}
      </ul>

      <button class="p-2 border rounded">Submit answers</button>
    </form>
    <!-- Display area for the result -->
    <div id="result" hx-swap="outerHTML"></div>
    <!-- JavaScript to handle the response and navigate -->
  </div>
</section>
<script>
  document
    .getElementById("myForm")
    .addEventListener("htmx:afterRequest", function (event) {
      var id = event.detail.xhr.response;
      // Navigate to the URL with the returned ID
      window.location.href = "/qna-answers/" + id;
    });
</script>
{{ end }}
